# OS & Editor
*.log
.DS_Store
Thumbs.db
.idea/
.vscode/
.zed/
.fleet/

# Environment
.env
.env.*
auth.json

# Dependencies
/vendor/
/node_modules/

# Laravel public
/public/build/
/public/hot/
/public/storage

# Laravel storage (WAJIB)
storage/*
!storage/.gitignore

# Laravel cache (WAJIB)
bootstrap/cache/*
!bootstrap/cache/.gitignore

# PHPUnit
.phpunit.result.cache
.phpunit.cache

# Homestead
Homestead.json
Homestead.yaml

# Vercel
.vercel
